<h1>Movies#show</h1>
<p>Find me in app/views/movies/show.html.erb</p>
<%= @movie.title %>
<%= @movie.overview %>
<%= @movie.poster_url %>
<%= @movie.rating %>

<p><%= link_to 'back to movies', movies_path %></p>
<p><%= link_to 'add a bookmark', movies_path %></p>
